/* ==========================================================
   GLOBAL
========================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ==========================================================
   ROOT
========================================================== */

html,
body,
#root {

    width: 100%;

    height: 100%;

    margin: 0;

    padding: 0;

}

/* ==========================================================
   BODY
========================================================== */

body {

    overflow: hidden;

    background: #111827;

    color: #F9FAFB;

    font-family:
        Inter,
        "Segoe UI",
        Arial,
        sans-serif;

    font-size: 14px;

    line-height: 1.5;

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;

}

/* ==========================================================
   ROOT
========================================================== */

#root {

    width: 100%;

    height: 100%;

    display: flex;

}

/* ==========================================================
   LINK
========================================================== */

a {

    color: inherit;

    text-decoration: none;

}

/* ==========================================================
   BUTTON
========================================================== */

button {

    font-family: inherit;

}